@font-face {
    font-family: 'MyriadProRegular';
    src: url('myfont-webfont.eot');
    src: url('myfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('myfont-webfont.woff') format('woff'),
         url('myfont-webfont.ttf') format('truetype'),
         url('myfont-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.close_button {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 22px;
	width: 22px;
	background: url("../images/prettyPhoto/facebook/sprite.png") no-repeat scroll -1px -1px transparent;
	cursor: pointer;
}

a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  font-family: MyriadProRegular, Helvetica;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
a, ins, del { text-decoration: none; }
ul, ol { list-style: none; }
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption, th { text-align: left; }
q:after { content: ""; }
q:before { content: ""; }
form > ul > li { overflow: hidden; }
form > ul > li > label {
  float: left;
  width: 50px;
}
#siteBg { position: absolute; display: none; }
html {
  overflow-x: hidden;
  background: #000000;
}

html#indexpage {
	overflow: auto !important;
	overflow-x: auto !important;
	overflow-y: auto !important;
}
body#indexpage { overflow: visible !important; }

body { width: 100%; float: left; }

#propertyWrapper {
  width: 900px;
  position: relative;
  left: 50%;
  margin-left: -450px;
}

#propertyWrapper > header,
#propertyWrapper > footer,
#propertyWrapper > #page.propertyData {
  float: left;
  clear: both;
  width: 100%;
}

#propertyWrapper > header {
  border-bottom: 1px solid #808080;
  padding: 13px 0 4px 0;
}

#propertyWrapper > header nav,
#propertyWrapper > header #logo {
  float: left;
  clear: none;
}

#propertyWrapper > header nav#propertiesTypes {
  margin-top: 27px;
}

#propertyWrapper > header nav#propertiesTypes,
#propertyWrapper > header nav#propertiesTypes li {
  float: left;
  clear: none;
}

#propertyWrapper > header nav#propertiesTypes li {
  border-right: 1px solid #bfbfbf;
  padding: 0 5px;
  line-height: 0.8em;
}

#propertyWrapper > header nav#propertiesTypes li:last-child {
  border-right: 0;
}
  
header .indicator { display: none; }


#propertyWrapper > header nav#propertiesTypes a {
  /*color: #45b0f0;*/
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

#propertyWrapper > header nav#propertiesList {
  padding-right: 30px;
  position: relative;
    float: left;
    width: 245px;
}

#propertyWrapper > header nav#propertiesList > a {
  background: url("../images/m-0.png") no-repeat scroll 0 0 transparent;
  -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
     -moz-transform: rotate(90deg);  /* FF3.5+ */
      -ms-transform: rotate(90deg);  /* IE9 */
       -o-transform: rotate(90deg);  /* Opera 10.5 */
          transform: rotate(90deg);  
             filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
               zoom: 1;

  display:block;
  float:right;
  height:28px;
  left:-28px;
  margin-left:19px;
  margin-top:-20px;
  margin-top:-16px;
  position:relative;
  top:6px;
  width:32px;
  
}

#propertyWrapper > header nav#propertiesList ul {
  display: none;
  position: absolute;
  top: 19px;
  left: -2px;
  width: 100%;
  z-index: 100;
  border: 1px solid #FFF;
}

#propertyWrapper > header nav#propertiesList:hover ul {
  display: block;
}

#propertyWrapper > header nav#propertiesList ul li.active a {
  background: #fff;
  color: #000;
}

#propertyWrapper > header nav#propertiesList ul li:hover a {
  background: #888;
}

#propertyWrapper > header nav#propertiesList ul li a {
  display: block;
  background: #000;
  padding: 4px;
  color: #FFF;
  cursor: pointer;
  border-bottom: 1px solid #FFF;
}

#propertyWrapper > header nav#propertiesList ul li:last-child {
  border-bottom: 0;
}

#propertyWrapper > header nav#siteNav,
#propertyWrapper > header nav#propertiesList {
  margin-top: 22px;
}

#propertyWrapper > header nav#siteNav {
  float: right;
  clear: none;
  width: 300px;
  text-align: right;
  padding-right: 54px;
}

#propertyWrapper > header nav#siteNav li {
  display: inline;
}

#propertyWrapper > header nav#siteNav li::before {
  content: " |";
}

#propertyWrapper > header nav#siteNav li:first-child::before {
  content: "";
}
  
#propertyWrapper > header nav#siteNav a {
  color: #FFF;
  font-weight: bold;
  margin: 0 15px;
}

#propertyWrapper > footer {
  border-top: 1px solid #808080;
  padding: 10px 0 24px 0;
  margin-top: 10px;
}

#propertyWrapper > footer input[type=text] {
  border: 1px solid #808080;
  width: 327px;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  background: #000;
  color: #FFF;
}

#propertyWrapper > footer input[type="submit"] {
  background: url("../images/m-0.png") no-repeat scroll -7px -7px transparent;
  border: 0 none;
  cursor: pointer;
  height: 22px;
  margin-left: -36px;
  position: relative;
  top: 0px;
  text-indent: -100px;
  width: 27px;
}


#propertyWrapper > footer .copy {
  float: right;
  margin-top: -22px;
}

#propertyWrapper > footer .copy a {
  color: #FFF;
  text-decoration: underline;
}


#propertyWrapper > #page.propertyData {
  min-height: 413px;
  padding: 0;
}

#propertyWrapper #mainImage {
  float: left;
  clear: none;
  width: 620px;
  height: 420px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

#propertyWrapper #mainImage img {
  position: absolute;
  top: 0;
  left: 0;
}

#propertyWrapper #thumbsGallery {
  position: relative;
  float: left;
  width: 280px;
  right: -20px;
}

#propertyWrapper #thumbsGallery li {
  float: left;
  margin: 10px 0 0 10px;
  width: 76px;
  height: 76px;
  overflow: hidden;
}

#propertyWrapper #logo {
	width:204px;
	height:43px;
	display:block;
	text-indent:-9999px;
	background:url(../images/icons.png) -336px -26px no-repeat;
	overflow:hidden;
}


/*
#propertyWrapper #mainImage {
  max-width: 
}*/

body > header > .content > #logo {
  float: left;
  clear: none;
  margin: -2px 5px 0 5px;
}





body {
	margin:0;
	color:#fff;
	font:12px MyriadProRegular, Helvetica, Verdana, sans-serif;
	background:#000;
	min-width:1003px;
}
img {border:none;}
a{
	text-decoration:none;
	outline:none;
}
a:hover {text-decoration:underline;}
form, fieldset{
	padding:0;
	margin:0;
	border:0;
}
input, textarea, select{
	font:100% arial,sans-serif;
	vertical-align:middle;
	outline:none;
}
textarea{overflow:auto;}
table{border-collapse:collapse;}
ul{list-style:none;}
*{margin:0;padding:0;}
}
.container{
	width:100%;
	overflow:hidden;
	position:relative;
}
.main_wrapper1{
	width:100%;
	overflow:hidden;
	position:relative;
}
.main_wrapper2{
	position:relative;
	float:left;
	width:100%;
	left:50%;
}
.main_wrapper3{
	width:100%;
	position:relative;
	left:-50%;
	float:left;
}
.header_wrapper{
	width:100%;
	position:relative;
	z-index:2;
	height:76px;
	background:url(../images/frame.png) repeat-x;
}
#header{
	width:1000px;
	margin:0 auto;
	
}
h1.logo{
	float:left;
	margin:5px;
}
#logo,
h1.logo a {
	width:235px;
	height:72px;
	display:block;
	text-indent:-9999px;
	background:url(../images/icons.png) -322px -143px no-repeat;
	overflow:hidden;
}
#logo {
	background-position: -148px -230px; 
	height:64px;
}
.phone_holder{
	float:right;
	width:300px;
	overflow:hidden;
	padding: 10px 25px 0 0;
	color: #fff;
}
.phone_holder span{
	font-size:26px;
	display:block;
	padding:0 0 5px 0;
	text-align: right;
	color: #fff !important;
}
.phone_holder em,.phone_holder a{float:right;}
.phone_holder em{
	font-style:normal;
	font-size:16px;
	padding:0 25px 5px 5px;
	background:url(../images/message.png) no-repeat 100% 3px;
}
.phone_holder a{
	font-size:16px;
	color:#fff;
	margin-left:5px;
	padding-bottom:3px;
	border-bottom:1px solid #6aaff5;
}
.phone_holder a em{float:right;}
.phone_holder a:hover{
	text-decoration:none;
	border:none;
}
.visual_wrapper{
	width:100%;
	position:relative;
	z-index:1;
	border-bottom:1px solid #bcbdc1;
	margin-top:72px;
	padding-bottom:0;
}
* html .visual_wrapper{padding:0;}
*+ html .visual_wrapper{padding:0;}
.visual{
	width:1280px;
	min-height:36px;
	background:url(../images/visual.jpg) no-repeat;
	margin:0 auto;
}
* html .visual{height:636px;}
.intro_wrapper{
	width:100%;
	background:url(../images/frame.png) repeat-x;
	min-height:71px;
	margin:-107px 0 0;
	position:relative;
	color: #fff;
}
* html .intro_wrapper{height:76px;}
.intro{
	width:1000px;
	margin:0 auto;
	padding:5px 0;
}
.intro h2{
	font-size:20px;
	font-family:MyriadProRegular,Helvetica;
	padding:0 0 5px;
	font-weight: bold;
}
.intro ul{
	overflow:hidden;
	zoom:1;
	font-family:MyriadProRegular,Helvetica;
	float:left;
	font-size:16px;
}
.intro li{
	float:   left;
	padding: 0 25px 0 0;
	margin:  0 10px 0 0;
	height:  23px;
}
.intro li a{
	color:#fff;
}
li.bed{background:url(../images/bed.png) no-repeat 0 0;}
li.bath{background:url(../images/bath.png) no-repeat 0 0;}
li.car{background:url(../images/car.png) no-repeat 0 3px;}
li.cell{background:url(../images/cell.png) no-repeat 0 3px;}
li.price{background:url(../images/price.png) no-repeat 0 0;}
li.contact{background:url(../images/contact.png) no-repeat 0 4px;}
.content_holder{
	width:100%;
	overflow:hidden;
	background:#1a1a1a;
	margin-top:7px;
}
.blackhole {
	width: 100%;
	height: 34px;
	background: #000;
}
.bg_top{
	width:100%;
	height:14px;
	margin-top: 14px;
}
.left_frame_t{
	width:17px;
	height:14px;
	float:left;
	background:url(../images/l_f_t.gif) no-repeat;
	position:relative;
}
.right_frame_t{
	width:100%;
	height:14px;
	background:#fff url(../images/r_f_t.gif) no-repeat 100% 0;
	margin:-14px 0 0;
}
.main_nav_wrapper{
	width:100%;
	background:#fff;
}
.main_nav{
	width:1000px;
	min-height:37px;
	margin:0 auto;
}
* html .main_nav{height:37px;}
.main_nav ul{
	zoom:1;
	font-size:14px;
	float:left;
	padding:3px 8px;
}
.main_nav ul li{
	float:left;
	padding:0 18px 0 0;
}
.main_nav ul li.indicator { display: none; margin-top: -5px; }
.main_nav ul li a{
	color:#000;
	display:block;
	font-size: 16px;
	text-transform: uppercase;
}
.main_nav ul li a:hover{
	border-bottom:2px solid #7f7f7f;
	text-decoration:none;
}
.main_nav ul li.active a{border-bottom:2px solid #6aaff5;}
.social{
	zoom:1;
	float:right;
}
.social li a{
	display:block;
	width:38px;
	height:37px;
	text-indent:-9999px;
	
}
.social ul{
	padding:0;
	margin:-8px -8px 0;
}
.social li{padding:0 2px!important;}
.social li a.facebook{background:url(../images/facebook.gif) no-repeat;}
.social li a:hover.facebook,.social li a:hover.twitter{border:none;}
.social li a.twitter{background:url(../images/twitter.gif) no-repeat;}
.grey_box,
.black_box{
	width:100%;
	overflow:hidden;
	padding:0;
}
.holder {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 0;
	border-bottom: 1px solid #808080;
}
#page > :last-child > .holder {
	border-bottom: 0;
}
.info_box {
	float: left;
	width: 360px;
	color: #fff;
}
.info_box address{
	font-style:normal;
	font-size:11px;
	font-family:MyriadProRegular,Helvetica,sans-serif;
	font-weight:bold;
	margin: 9px 0 0 0;
	padding: 9px 0 0 0;
	border-top: 1px solid #808080;
}
.info_box ul {
	overflow:hidden;
	zoom:1;
	font-size:12px;
	margin: 0.5em 0 0 0;
	float:left;
}
.info_box li{
	float:left;
	padding: 3px 0 5px 22px;
	width: 96px;
	font-size: 11px;
}
.info_box li a{color:#fff;}
.info_box span.price{
	background: url(../images/price.png) no-repeat 0 0;
	float: left;
	font-size: 14px;
	padding: 0 0 0 25px;
}
.holder span.price { clear: both; }
.info_box span.state{
	float:left;
	font-size:14px;
	font-family:MyriadProRegular,Helvetica,sans-serif;
	padding:0 40px;
}
.info_box h3{
	float:left;
	clear:both;
	font-family: MyriadProRegular;
	font-size:13px;
	color: #45b0f0;
	letter-spacing:2px;
	padding:0 0 2px;
	/* background:url(../images/bg_head.gif) repeat-x 0 100%; */
	/* margin:40px 0 3px 0; */
	font-weight:bold;
}
#propertyWrapper > header .fb-like {
  float: right;
  margin: 19px 0 0;
  width: 75px;
}

.info_box p{
	font-family:MyriadProRegular,Georgia,sans-serif;
	font-size:12px;
	clear:both;
	padding:0 0 16px;
	margin: 2em 0 15px;
}
.links{
	width:100%;
	overflow:hidden;
	font-family:lucida sans,lucida grande;
}
.links a {
	float: left;
	display: block;
	font-size:12px;
	text-decoration: none;
	color:#fff;
	background: #45b0f0;
	padding: 2px 6px;
	-moz-border-radius: 3px;
}
.links a:hover{text-decoration:none;}
.inside {
        height:  210px;
        width:   510px;
}
.image_holder
{
        height:  210px;
        width:   510px;
	float:   right;
	margin:  0;
	padding: 0;
}
.bg_bottom{
	height:12px;
	width:100%;
	background:#313131 url(../images/r_f_b.gif) no-repeat 100% 100%;
}
.left_frame_b{
	background:#313131;
	width:100%;
	float:left;
}
.right_frame_b{
	height:12px;
	width:14px;
	background:#313131 url(../images/r_f_b.gif) no-repeat 0 100%;
	float:left;
	margin:0 -14px 0 0;
	padding:3px 0 0;
}
a.sign{
	color:#6aaff5;
	font-size:14px;
	margin:0 -20px;
	text-decoration:underline;
}
a:hover.sign{text-decoration:none;}
.pagination_wrapper{
	width:100%;
	background:#1a1a1a url(../images/pagination_frame.gif) no-repeat 100% 100%;
}
.pagination_holder{
	width:1000px;
	margin:0 auto;
}
.pagination{
	overflow:hidden;
	zoom:1;
	padding:0 0 5px;
}
.pagination ul{
	float:right;
	padding:5px 0;
}
.pagination li{
	float:left;
	padding:0 4px;
}
.pagination li a{
	width:14px;
	height:16px;
	display:block;
	background:#313131;
	border:1px solid #313131;
	text-align:center;
	color:#6AAFF5;
}
li.arrow{margin:-2px 0;}
li.arrow a{
	display:block;
	text-indent:-9999px;
	background:url(../images/arrow.png) no-repeat;
	border:none;
	width:19px;
	height:24px;
}
li.arrow a:hover{background-position:0 -51px;}
.pagination li.active a{
	color:#fff;
	font-size:27px;
	background:none;
	border:none;
	margin:-8px 0 0;
}
.pagination li.active a:hover{text-decoration:none;}
.changer .info_box ul{
	overflow:hidden;
	padding:27px 0 20px;
	clear:both;
}
.changer span.price{
	float:none;
	display:block;
	padding:3px 0 5px;
	background-position:75px 0;
}
.footer_wrapper{
	width:100%;
	overflow:hidden;
	position: relative;
}
#footer{
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0;
	color: #ddd;
}
span.copy{
	float:left;
	font-size:12px;
	padding:0 10px;
	color: #ddd;
}
.produced{
	float:right;
	margin:0 -25px 0 0;
}
.produced span{
	float:left;
	padding:0 14px 0 0;
}
#footer ul{
	font-size:12px;
	float:left;
	overflow:hidden;
}
#footer ul a{color:#fff;}
#footer li{
	float:left;
	margin:0 4px 0 0;
}
a.small_logo{
	float:left;
	width:120px;
	height:37px;
	margin:-5px 18px 0 0;
	text-indent: -9999px;
	background:  url(../images/icons.png) -190px -25px no-repeat;
	position:relative;
}
.loupe{float:right;}
.loupe a{
	float:left;
	background:url(../images/loupe.png) no-repeat 0 13px;
	padding:10px 10px 10px 30px;
	margin:-14px 19px 0;
}
.loupe a:hover{text-decoration:none;}
.loupe a em{
	font-weight:bold;
	font-style:normal;
	color: #FFFFFF;
	font-size:18px;
	font-family:Helvetiva,sans-serif;
	text-transform:uppercase;
	float:left;
	border-bottom:1px solid #6AAFF5;
}
.loupe a:hover em{
	text-decoration:none;
	border-bottom:1px solid #6AAFF5;
}




#propertyDetails { display: none; }
.pp_content { height: auto !important; }
#uiContactForm,
#contactFormWrapper{
  float: left;
  clear: both;
  height: 350px;
  width: 320px;
  padding: 15px 0 0 20px;
  overflow: hidden;
}
#uiContactForm > header { border-bottom: 1px solid #ffffff; }
#uiContactForm > header h2 {
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  margin: 0 0 17px 0;
  padding: 0;
}
#uiContactForm > section.formWrapper li h2 {
  text-transform: uppercase;
}
#uiContactForm > section.formWrapper li { margin: 10px 0 0 0; }
#uiContactForm > section.formWrapper li > textarea,
#uiContactForm > section.formWrapper li > input[type=text] {
  width: 260px;
  clear: both;
  float: left;
  line-height: 22px;
  height: 22px;
  border: 0;
  font-size: 11px;
  margin: 3px 0 0 0;
  text-indent: 3px;
}
#uiContactForm > section.formWrapper li > textarea {
  height: 3em;
}
#uiContactForm > section.formWrapper li > label {
  display: block;
  clear: both;
  float: left;
  text-transform: lowercase;
  font-size: 11px;
  color: #fff;
}

#promo_banner { display: none; position: absolute; width: 640px; height: 41px; left: 5px; top: 2px; background: url(../images/promo.png); }

#backToIndex, #fbShare, #contactUs { position: absolute; width: 133px; height: 20px; left: 5px; top: 55px; }

#backToIndex { width: 132px; height: 20px; background: url(../images/icons.png) 0 0 no-repeat; }
#contactUs { width: 140px; left: 132px; background: url(../images/icons.png) -126px 0 no-repeat; }
#fbShare { width: 143px; left: 266px; background: url(../images/icons.png) -267px 0 no-repeat; }

#uiContactForm > section.formWrapper .submitRow input[type=submit] {
  color: #31bee6;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
  text-align: left;
}
