* {
	margin:0px;
	padding:0px;
}

#gmlb_overlay {
	background-color: transparent;
	background-image: url(bg.png);
	z-index:1000;
}

#gmlb_map {
}

#gmlb_label {
	background-color:white;
	font-family:Trebuchet MS;
	font-size:12px;
	color:black;
	float:left;
	padding-top:10px;
	margin-top:5px;
	width:608px;
	text-align:left;
}

#gmlb_container {
	background-color:white;
	padding:10px;
	border-color:#DDDDDD;
	border-width:1px;
	border-style:dotted;
	display:block;
}

#gmlb_close {
	background-color:#EEEEEE;
	width:32px;
	height:32px;
	float:right;
	cursor:pointer;
	clear:right;
	background-image:url(close.jpg);
	margin-top:5px;
}